<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href={{"/" | relative_url}} style="font-family: Lemonada" title="An t-Ubhal-ghort">{{ site.title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href={{"/" | relative_url}} title="Dhachaigh | Home">Dhachaigh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/tasg-lannan/" | relative_url}} title="Tasg-lannan | Archives">Tasg-lannan</a>
      </li>
      <!--><li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Roinnean-seòrsa | Categories"
        >
          Roinnean‑seòrsa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in site.data.categories %}
            <a class="dropdown-item" href="{{ category.url }}">{{ category.title }}</a>
          {% endfor %}
        </div>
      </li>-->

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Na pròiseactan agam | My projects"
        >
          Na Pròiseactan agam
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://angeidhealur.scot/" target="_blank">An Gèidheal Ùr</a>
          <a class="dropdown-item" href="http://faclair.lgbt/" target="_blank">Faclair nan Gèidheal</a>
          <a class="dropdown-item" href="https://aimsir.scot/" target="_blank">Aimsir.scot</a>
          <a class="dropdown-item" href="https://criomagan.scot/" target="_blank">Criomagan</a>
          <a class="dropdown-item" href="https://dethadol.scot/" target="_blank">Dè tha dol?</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://github.com/angeidheal" target="_blank">GitHub</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/mu-mo-dheidhinn/" | relative_url}} title="Mu mo dheidhinn | About Me">Mu mo dheidhinn</a>
      </li>
    </ul>
  </div>
</nav>
